#include <dt-bindings/zmk/matrix_transform.h>

&pwm0 {
    status = "okay";
    ch0-pin = <6>;
    ch1-pin = <17>;
    ch2-pin = <15>;
    ch3-pin = <8>;
    /* ch0-inverted; */
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,backlight = &backlight;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

         row-gpios
            = <&pro_micro 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        col-gpios
            = <&pro_micro 20 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 13 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 11 GPIO_ACTIVE_HIGH>
            , <&pro_micro 12 GPIO_ACTIVE_HIGH>
            ;
    };

    backlight: pwmleds {
        compatible = "pwm-leds";
        label = "Backlight LEDs";
        pwm_led_0 {
            pwms = <&pwm0 6>;
            label = "Backlight LED";
        };
        pwm_led_1 {
            pwms = <&pwm0 17>;
            label = "Mode LED 1";
        };
        pwm_led_2 {
            pwms = <&pwm0 15>;
            label = "Mode LED 2";
        };
        pwm_led_3 {
            pwms = <&pwm0 8>;
            label = "Mode LED 3";
        };
    };

    left_encoder: left_encoder {
        compatible = "alps,ec11";
        label = "Top Encoder";
        a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        resolution = <4>;
        status = "disabled";
    };
};